[submodule "third_party/MDC"]
	path = third_party/MDC
	url = https://github.com/IAmTrial/MirD-Common-C
[submodule "third_party/SGD2MAPI98"]
	path = third_party/SGD2MAPI98
	url = https://github.com/mir-diablo-ii-tools/SlashGaming-Diablo-II-API-1998
